/* .cal {
  margin: 15px;
}
.cal > span {
  margin: 5px;
}

.cal-form {
  display: flex;
  margin: 10px;
}
.cal-form__content {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.cal-form__btn {
  margin: 10px 0;
}

.cal-form__content__num {
  height: 40px;
  margin: 10px;
}

.cal-form__content__item {
  width: 200px;
  margin: 10px;
} */
