#main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 90%;
}

.count2 {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 90%;
}

.count-form {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.count-form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.count-form__content__price {
  height: 30px;
  display: flex;
}

.count-form__content__reason {
  height: 20px;
  width: 70%;
}

.count-name {
  margin: 5px;
}
.count-item {
  display: block;
}

.count-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
