#main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.count-form {
  display: flex;
}

.count-form__content {
  display: flex;
  flex-direction: column;
}

.count-form__content__price {
  height: 30px;
  width: 60vw;
}

.count-form__content__reason {
  height: 20px;
  width: 40vw;
}

.count2 {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.count2-form {
  display: flex;
}

.count2-form__content {
  display: flex;
  flex-direction: column;
}

.count2-form__content__price {
  height: 30px;
  width: 60vw;
}

.count2-form__content__reason {
  height: 20px;
  width: 40vw;
}

.count-name {
  margin: 5px;
}

.count-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count-item li button {
  margin: 3px;
  color: red;
}

.count2-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count2-item li button {
  margin: 5px;
  color: red;
}
